
[global]
  security = ADS
  server role = MEMBER SERVER
  workgroup = ${SAMBA_DC_WORKGROUP}
  netbios name = ${SAMBA_FS_NETBIOS_NAME}
  log file = /dev/stdout
  # log file = /var/log/samba/%m.log
  log level = ${SAMBA_FS_LOG_LEVEL}
  realm = ${SAMBA_DC_REALM}
  interfaces = lo ${SAMBA_FS_INTERFACES}

  # UID mapping
  idmap config * : backend = tdb
  idmap config * : range = 3000-7999
  
  idmap config ${SAMBA_DC_WORKGROUP} : backend = rid
  idmap config ${SAMBA_DC_WORKGROUP} : range = 10000-999999

  socket options = TCP_NODELAY IPTOS_LOWDELAY SO_RCVBUF=524288 SO_SNDBUF=524288
  
  winbind enum groups = Yes
  winbind enum users = Yes
  winbind refresh tickets = Yes
  winbind separator = +
  winbind use default domain = ${SAMBA_FS_USE_DEFAULT_DOMAIN}
  winbind expand groups = 2

  # domain master = yes
  # # local master = no
  # preferred master = yes
  dns proxy = no


  domain master = no
  local master = no
  preferred master = no
  host msdfs = yes

  vfs objects = acl_xattr ${GLOBAL_RECYCLE}
  map acl inherit = Yes

  usershare allow guests = Yes
  acl allow execute always = Yes
  map to guest = Bad User

  # obey pam restrictions = yes
  # printcap name = /dev/null
  # load printers = no
  # wide links = yes
  # follow symlinks = yes
  # unix extensions = no

  # Special configuration for Apple's Time Machine
#  fruit:model = TimeCapsule
#  fruit:advertise_fullsync = true
#  fruit:aapl = yes

  admin users = @${SAMBA_DC_WORKGROUP}\Domain Admins, @${SAMBA_DC_WORKGROUP}\Enterprise Admins, ${SAMBA_DC_ADMIN_NAME}

[Home]
  comment = "User's personal files"
  path = /${USERDATA_NAME}/Home/%U
  guest ok = No
  read only = No
  browseable = Yes
  root preexec = /usr/local/bin/samba_create_user_dir.sh /${USERDATA_NAME}/Home %U

[${SHARE_DIR_NAME}]
  comment = "User shares"
  path = /${USERDATA_NAME}/${SHARE_DIR_NAME}
  guest ok = ${SHARE_GUEST_OK}
  read only = No
  browseable = Yes
